In [2]:
from datasets import load_dataset
import pandas as pd
import os

In [3]:
EXPORT_PATH = "../data/processed/allocine/"

In [5]:
dataset = load_dataset('allocine', split='test')
print(dataset[0])

Reusing dataset allocine_dataset (/Users/Alex/.cache/huggingface/datasets/allocine_dataset/allocine/1.0.0/91f700d606838c22c5c370846746e60503219d0c1f16ed96bfd1fa19a73458eb)

{'review': 'Magnifique épopée, une belle histoire, touchante avec des acteurs qui interprètent très bien leur rôles (Mel Gibson, Heath Ledger, Jason Isaacs...), le genre de film qui se savoure en famille! :)', 'label': 1}

In [6]:
pre_df = []
df = []

In [6]:
pre_df = {
    "text": [datapoint["review"] for datapoint in dataset],
    "Positive": [datapoint["label"] for datapoint in dataset],
}
df = pd.DataFrame.from_dict(pre_df)
print(df)

                                                    text  Positive
0      Magnifique épopée, une belle histoire, touchan...         1
1      Je n'ai pas aimé mais pourtant je lui mets 2 é...         0
2      Un dessin animé qui brille par sa féerie et se...         1
3      Si c'est là le renouveau du cinéma français, c...         0
4      Et pourtant on s’en Doutait !Second volet très...         0
...                                                  ...       ...
19995  je suis éventreur, arracheur, tailladeur, goug...         1
19996  Trémors 3 essouffle la série des trémors par u...         0
19997  0/20 : Tout d’abord, la mise en scène est tout...         0
19998  Un scénario très original mené par des personn...         1
19999  Ce dernier volet de la trilogie a beau être le...         1

[20000 rows x 2 columns]

In [7]:
df['Negative'] = abs(df['Positive'] - 1)

In [8]:
print(df)

                                                    text  Positive  Negative
0      Magnifique épopée, une belle histoire, touchan...         1         0
1      Je n'ai pas aimé mais pourtant je lui mets 2 é...         0         1
2      Un dessin animé qui brille par sa féerie et se...         1         0
3      Si c'est là le renouveau du cinéma français, c...         0         1
4      Et pourtant on s’en Doutait !Second volet très...         0         1
...                                                  ...       ...       ...
19995  je suis éventreur, arracheur, tailladeur, goug...         1         0
19996  Trémors 3 essouffle la série des trémors par u...         0         1
19997  0/20 : Tout d’abord, la mise en scène est tout...         0         1
19998  Un scénario très original mené par des personn...         1         0
19999  Ce dernier volet de la trilogie a beau être le...         1         0

[20000 rows x 3 columns]

In [11]:
os.makedirs(EXPORT_PATH, exist_ok=True)
df.to_csv(f"{EXPORT_PATH}/allocine_trainset_{len(df)}reviews.csv")

# Test set

In [12]:
dataset_test = load_dataset('allocine', split='test')

Reusing dataset allocine_dataset (/Users/Alex/.cache/huggingface/datasets/allocine_dataset/allocine/1.0.0/91f700d606838c22c5c370846746e60503219d0c1f16ed96bfd1fa19a73458eb)

In [9]:
nb = 5
df = df.iloc[:nb,:]

In [10]:
print(df)

                                                text  Positive  Negative
0  Magnifique épopée, une belle histoire, touchan...         1         0
1  Je n'ai pas aimé mais pourtant je lui mets 2 é...         0         1
2  Un dessin animé qui brille par sa féerie et se...         1         0
3  Si c'est là le renouveau du cinéma français, c...         0         1
4  Et pourtant on s’en Doutait !Second volet très...         0         1

In [17]:
df2 = df.sample(n=2)
print(df2)

                                                text  Positive  Negative
0  Magnifique épopée, une belle histoire, touchan...         1         0
4  Et pourtant on s’en Doutait !Second volet très...         0         1

In [18]:
print(df2.head())

                                                text  Positive  Negative
0  Magnifique épopée, une belle histoire, touchan...         1         0
4  Et pourtant on s’en Doutait !Second volet très...         0         1

In [19]:
df2 = df2.reset_index()
print(df2.head())

   index                                               text  Positive  \
0      0  Magnifique épopée, une belle histoire, touchan...         1
1      4  Et pourtant on s’en Doutait !Second volet très...         0

   Negative
0         0
1         1

In [20]:
df2 = df2.drop('index', axis=1)
print(df2.head())

                                                text  Positive  Negative
0  Magnifique épopée, une belle histoire, touchan...         1         0
1  Et pourtant on s’en Doutait !Second volet très...         0         1